<h1>Design Index</h1>

<ul><% @designs.each do |design| %>
  <li><%= link_to design.model, design_path(design) %> - <%= design.metal %> - <%= design.stone.name %></li>
  <% end %>
</ul>

<% if current_user %>
  <% if current_page?(user_designs_path(current_user)) %>
    <%= link_to "Add a New Design", new_user_design_path %>
  <% else %>
    <%= link_to "Add a New Design", new_design_path %>
  <% end %>
<% end %>
