<%= render 'layouts/messages' %>

<h1>Design Details</h1>
<p><em>Created By: <%= @design.user.email %></em></p>


<ul>
  <li>Model: <%= @design.model %></li>
  <li>Stone: <%= link_to @design.stone.name, stone_path(@design.stone) %> </li>
  <li>Metal: <%= @design.metal %> </li>
  <li><strong>Price: </strong><%= number_to_currency(@design.price) %></li>
</ul>

<% if current_user == @design.user %>
  <%= link_to "Edit Design", edit_user_design_path(@design.user, @design) %>
  <br><br>
  <%= form_tag user_design_path(current_user, @design), method: "delete" %>
    <%= submit_tag "Delete Design" %>
<% end %>
