<h1>Stone Index</h1>

Most Expensive: <%= link_to @expensive.name, stone_path(@expensive) %><br>
Least Expensive: <%= link_to @cheap.name, stone_path(@cheap) %><br>

<ul>
  <% @stones.each do |stone| %>
  <li><%= link_to stone.name, stone_path(stone) %> - <%= stone.weight %> ct</li>
  <% end %>
</ul>

<%= link_to "Add a New Stone", new_stone_path %>
