<%= render 'layouts/messages' %>

<h1>Stone Details</h1>

<ul>
  <li class="stoneName">Name: <%= @stone.name %></li>
  <li class="stoneWeight">Weight: <%= @stone.weight%> ct </li>
  <li class="stoneCost">Cost: $<%= @stone.cost %> </li>
</ul>

<div class="stoneDesigns">
  <% if @stone.designs.length > 0 %>
    <h2>Stone Designs</h2>
      <ul><% @stone.designs.each do |design| %>
        <li><%= design.metal %> <%= design.model %></li>
        <% end %>
      </ul>
  <% elsif @stone.designs.length == 0 %>
    <p>This stone has not been used yet</p>
  <% end %>
</div>

<a href="#" class="js-previous" data-prev="<%=@stone.id%>">Previous</a>

<a href="#" class="js-next" data-id="<%=@stone.id%>">Next</a>


<!-- <% if current_page?(stone_path(@stone)) && current_user %>
  <h3><em>Add a new design:</em></h3>

  <%= form_for @stone.designs.build do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :stone_id, value: @stone.id %>

    <%= f.label :metal %><br>
    <%= f.collection_select :metal, ["White Gold", "Yellow Gold", "Pink Gold", "Platinum", "Sterling Silver"], :to_s, :to_s %><br><br>

    <%= f.label :model %><br>
    <%= f.collection_select :model, ["Necklace", "Bracelet", "Earrings", "Ring"], :to_s, :to_s %><br><br>

    <%= f.submit %>
  <% end %>
<% end %> -->

<script type="text/javascript" charset="utf-8">
  $('.js-next').on("click", function(e){
    e.preventDefault();
    var nextId = parseInt($('.js-next').attr("data-id")) + 1;
    $.get("/stones/" + nextId + ".json", function(stone){
      $('.stoneName').text("Name: " + stone["name"]);
      $('.stoneWeight').text("Weight: " + stone["weight"] + " ct");
      $('.stoneCost').text("Cost: $" + stone["cost"]);
      if(stone["designs"].length > 0){
        var l = "<h2>Stone Designs</h2> <ul>";
        for(i = 0; i < stone["designs"].length; i++){
          l += "<li>" + stone["designs"][i]["metal"] + " " + stone["designs"][i]["model"] + "</li>";
        }
        l += "</ul>";
        $(".stoneDesigns").html(l);
      } else {
        var p = "<p>This stone has not been used yet</p>";
        $(".stoneDesigns").html(p);
      }
      $('.js-next').attr("data-id", stone["id"]);
      $('.js-previous').attr("data-prev", stone["id"]);
    })
  })
</script>

<script type="text/javascript" charset="utf-8">
  $('.js-previous').on("click", function(e){
    e.preventDefault();
    var prevId = parseInt($('.js-previous').attr("data-prev")) - 1;
    $.get("/stones/" + prevId + ".json", function(stone){
      $('.stoneName').text("Name: " + stone["name"]);
      $('.stoneWeight').text("Weight: " + stone["weight"] + " ct");
      $('.stoneCost').text("Cost: $" + stone["cost"]);
      if(stone["designs"].length > 0){
        var l = "<h2>Stone Designs</h2> <ul>";
        for(i = 0; i < stone["designs"].length; i++){
          var desc = stone["designs"][i]["metal"] + " " + stone["designs"][i]["model"];
          l += "<li>" + desc + "</li>";
        }
        l += "</ul>";
        $(".stoneDesigns").html(l);
      } else {
        var p = "<p>This stone has not been used yet</p>";
        $(".stoneDesigns").html(p);
      }
      $('.js-previous').attr("data-prev", stone["id"]);
      $('.js-next').attr("data-id", stone["id"]);

    })
  })
</script>
