<h1>User Details</h1>

<div class="information_div">
  <h3>Information</h3>
  <ul>
    <% if @user.name %>
      <li>Name: <%= @user.name %></li>
    <% end %>

    <% if @user.location %>
      <li>Location: <%= @user.location %></li>
    <% end %>
    <li>Email: <%= @user.email %></li>

    <% if current_user == @user %>
      <p> <%= link_to "Edit User Information", edit_user_path(@user) %></p>
    <% end %>

  </ul>

</div>

<div class="designs_div">
  <h3><%= link_to "Designs", user_designs_path(@user) %></h3>
  <ul>
      <% @user.designs.each do |design| %>
        <li><%= design.model %> - <%= design.metal %> - <%= design.stone.name %>, <%= design.stone.weight %> ct</li>
        <%= link_to "View Design", user_design_path(@user, design) %>
        <br><br>
      <% end %>

      <% if current_user == @user %>
        <p><%= link_to "Add a New Design", new_user_design_path(current_user, @design) %></p>
      <% end %>
  </ul>
</div>

<div class="stones_div">
  <h3><%= link_to "Stones", user_stones_path(@user) %></h3>

  <ul><% @stones.each do |stone| %>
    <li> <%= stone.name %>, <%= stone.weight %> ct - <%= number_to_currency(stone.cost) %> </li>
    <%= link_to "View Stone", user_stone_path(@user, stone) %>
    <br><br>
    <% end %>
  </ul>
</div>

<br>
