<h1>User Details</h1>

<div class="information_div">
  <h3>Information</h3>
  <ul>
    <% if @user.name %>
    <li>Name: <%= @user.name %></li>
    <% end %>
    <% if @user.location %>
    <li>Location: <%= @user.location %></li>
    <% end %>
    <li>Email: <%= @user.email %></li>
  </ul>
</div>

<div class="designs_div">
  <h3>Designs</h3>
  <ul>
      <% @user.designs.each do |design| %>
        <li><%= design.model %> - <%= design.metal %> - <%= design.stone.name %>, <%= design.stone.weight %> ct</li>
      <% end %>
      <p><%= link_to "Add a New Design", new_design_path %></p>
  </ul>
</div>

<br>

<% if current_user == @user %>
  <%= link_to "Edit User", edit_user_path(@user) %>
<% end %>
