<% if !current_user%>
  <h1>Welcome!</h1>
<% elsif current_user.name %>
  <h1>Welcome, <%= current_user.name %> </h1>
<% else %>
  <h1>Welcome, <%= current_user.email %> </h1>
  <p>
    Your profile looks incomplete. Click here to add your name and location!
  </p>
<% end %>

<h2><%= link_to "Designs", designs_path %></h2>
<ul>
  <% @designs.each do |design| %>
  <li><%= design.model %> - <%= design.metal %></li>
  <% end %>
</ul>


<h2><%= link_to "Stones", stones_path %></h2>
<ul>
  <% @stones.each do |stone| %>
  <li><%= stone.name %> - <%= stone.cost %></li>
  <% end %>
</ul>
