<% if !current_user%>
  <h1>Welcome!</h1>
<% elsif current_user.name %>
  <h1>Welcome, <%= current_user.name %> </h1>
<% else %>
  <h1>Welcome, <%= current_user.email %> </h1>
  <p>
    Your profile looks incomplete. Click here to add your name and location!
  </p>
<% end %>

<h2>Designs</h2>
<ul>
  <% @designs.all.each do |design| %>
  <li><%= design.type %> - <%= design.metal %></li>
  <% end %>
</ul>


<h2>Stones</h2>
<ul>
  <% @stones.all.each do |stone| %>
  <li><%= stone.name %> - <%= stone.cost %></li>
  <% end %>
</ul>
