<% if !current_user%>
  <h1>Welcome!</h1>
<% elsif current_user.name %>
  <h1>Hello, <%= current_user.name %>! </h1>
<% else %>
  <h1>Hello, <%= current_user.email %>! </h1>
  <p>
    Your profile looks incomplete. Click <%= link_to "here", edit_user_path(current_user) %> to add your name and location!
  </p>
<% end %>

<h2><%= link_to "View All Designs", designs_path %></h2>
<ul>
  <% @designs.each do |design| %>
  <li><%= design.model %> - <%= design.metal %> - <%= design.stone.name %>, <%= design.stone.weight %> ct</li>
  <% end %>
</ul>


<h2><%= link_to "View All Stones", stones_path %></h2>
<ul>
  <% @stones.each do |stone| %>
  <li><%= stone.name %> - <%= stone.cost %></li>
  <% end %>
</ul>

<h2><%= link_to "View All Users", users_path %></h2>
<ul>
  <% @users.each do |user| %>
  <li><%= user.email %></li>
  <% end %>
</ul>
