<!DOCTYPE html>
<html>
  <head>
    <title>Rails Jeweler Designs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="fields_with_errors">
      <%= render 'layouts/messages' %>
      <% if current_user.errors.any? %>
        <div class="errors">
          <h4><%= pluralize(current_user.errors.count, "error") %>
              prohibited this action:
            </h4>
            <ul>
              <% current_user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        <% end %>
        </div>
    </div>

    <br>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
